
#title{
  height: 100px;
  width: 100%;

}

#title{
  color: black;
  font-family: sans-serif;
  text-align: center;
}

#photos{
  width: 100%;
  height: 270px;
  text-align: center;
}

.central{
  display: inline-block;
  height: 100%;
/*  width: 32%;*/
}

#chart{
  height: 100%;
  width: 100%;
}

#canvascontainer{
  height: 100%;
  width: 32%;
}

.highlight{
border: 5px solid blue;
}

#buttondiv{
  width: 100%;
  height: 200px;
  text-align: center;
  margin-top: 20px;
}

.button{
    font-family: sans-serif;
    width: auto;
    margin: 0 auto;
}

.noDisplay{
  display: none;
}

